.container{
    text-align: left;
    width: 800px;
    font-size: x-large;
    .item{
        display: flex;
        padding: 6px;

        .label{
            width: 30%;
            text-transform: capitalize;
        }
        .value{
            width: 70%;
            font-size: inherit;
            color: #000;
        }
    }

}