.wrapper{
    margin-top: 20px;

    .pagelinks{
        padding: 10px;
        display: inline-block;
    }
    .active{
        background-color: aquamarine;
        color: red;
    }
    .disable{
        color: #000;
    }
}