.link {
    background-color: #295073;
    border-radius: 6px;
    width: 90px;
    height: 28px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.table {
    border-collapse: collapse;
}

.table-ele {
    border: 1px solid #000;
    text-align: left;
    padding: 6px;
}