.App {
  text-align: center;
  margin-top: 64px;
}

a{
  text-decoration: none;
  color: blue;
}
.content{
  max-width: 80%;
  width: fit-content;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  overflow-y: scroll;
}